<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Status:</h3>
                        <input type="text" placeholder="Status" class="form-control mb-2 text-left " v-model="compensacion.status.concepto" disabled>
                    </div>
                    <div>
                        <h3>Fecha:</h3>
                        <input type="text" placeholder="Nombre" class="form-control mb-2 text-left " v-model="new Date(compensacion.fecha).toLocaleDateString()" disabled>
                    </div>
                    <div>
                        <h3>Folio:</h3>
                        <input type="text" placeholder="Folio" class="form-control mb-2 text-left " v-model="compensacion.folio" disabled>
                    </div>
                    <div>
                        <h3>Destino:</h3>
                        <input type="text" placeholder="Destino" class="form-control mb-2 text-left " v-model="compensacion.destino" disabled>
                    </div>
                    <div>
                        <h3>Justificacion:</h3>
                        <input type="text" placeholder="Justificacion" class="form-control mb-2 text-left " v-model="compensacion.justificacion" disabled>
                    </div>
                    <div>
                        <h3>Monto:</h3>
                        <input type="text" placeholder="Monto" class="form-control mb-2 text-left " v-model="compensacion.monto" disabled>
                    </div>

                    <div class="row col-12">
                        <div class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="gotoEdit()">Editar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {

    props:['compensacion'],
    data(){
        return {

        }
    },
    mounted() {
    },
    created() {
    },
    methods:{
        gotoEdit(){
            window.location.href = '/compensaciones/edit/' + this.compensacion.id;
        }
    }
}
</script>

<style scoped>

</style>
