<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <b-field label="Nombre:">
            <b-input
              v-model="beneficiario.nombre"
              placeholder="Nombre"
              disabled
            ></b-input>
          </b-field>
          <b-field label="Dependencia:">
            <b-input
              v-model="beneficiario.dependencia.nombre"
              placeholder="Dependencia"
              disabled
            ></b-input>
          </b-field>
          <b-field label="Cuenta:">
            <b-input
              v-model="beneficiario.cuenta"
              placeholder="Cuenta"
              disabled
            ></b-input>
          </b-field>
          <b-field label="Código:">
            <b-input
              v-model="beneficiario.codigo"
              placeholder="Código"
              disabled
            ></b-input>
          </b-field>
          <b-field label="Observciones:">
            <b-input
              v-model="beneficiario.observaciones"
              placeholder="Observciones"
              disabled
            ></b-input>
          </b-field>

          <div class="row col-12">
            <div class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="gotoEdit()"
              >
                Editar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: ["beneficiario"],
  data() {
    return {};
  },
  mounted() {},
  created() {},
  methods: {
    gotoEdit() {
      window.location.href = "/beneficiarios/edit/" + this.beneficiario.id;
    },
  },
};
</script>

<style scoped>
</style>
