<template>
  <form class="form-edit-add" role="form" @submit.prevent="">
    <div class="col-12">
      <div class="row justify-content-left m-0 p-0">
        <div class="col-12 text-left m-0 p-0">
          <div>
            <h3>Solicitud afin:</h3>
            <input
              type="text"
              placeholder="Solicitud afin"
              class="form-control mb-2 text-left"
              v-model="paquete.solicitud_afin"
            />
          </div>
          <div>
            <h3>Numero:</h3>
            <input
              type="text"
              placeholder="Numero"
              class="form-control mb-2 text-left"
              v-model="paquete.numero"
            />
          </div>

          <div class="row col-12">
            <div v-if="create" class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="save()"
              >
                Agregar
              </button>
            </div>
            <div v-else class="col-12 text-center">
              <button
                class="
                  btn btn-secondary
                  form-button
                  m-3
                  col-sm-12 col-lg-6
                  border-dark
                "
                @click="update()"
              >
                Guardar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  props: {
    paquete: {},
    create: "",
  },
  data() {
    return {};
  },
  mounted() {},
  created() {},
  methods: {
    save() {
      const params = {
        solicitud_afin: this.paquete.solicitud_afin,
        numero: this.paquete.numero,
      };
      axios.post("/paquetes/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "El paquete ha sido agregado correctamente."
          );
        } else {
          this.showErrorNotification("Hubo un error al agregar el paquete.");
        }
      });
    },
    update() {
      const params = {
        solicitud_afin: this.paquete.solicitud_afin,
        numero: this.paquete.numero,
        id: this.paquete.id,
      };
      axios.put("/paquetes/" + this.paquete.id, params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "El paquete ha sido actualizado correctamente."
          );
        } else {
          this.showErrorNotification("Hubo un error al actualizar el paquete.");
        }
      });
    },
  },
};
</script>

<style scoped>
</style>
