<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Nombre:</h3>
                        <input type="text" placeholder="Nombre" class="form-control mb-2 text-left " v-model="complemento_pago_archivo.nombre">

                    </div>
                    <div>
                        <h3>Solicitud:</h3>
                        <b-autocomplete
                            v-model="solicitud"
                            placeholder="Folio de la solicitud"
                            :open-on-focus="false"
                            :data="solicitudesFilteredDataObj"
                            field="folio"
                            @select="option => (this.complemento_pago_archivo.id_solicitud = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>

                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="save()">Agregar</button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="update()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {
    props: {
        complemento_pago_archivo:{},
        solicitudes:{},
        create: '',
    },
    data(){
        return {
            solicitud: '',
        }
    },
    computed: {
        solicitudesFilteredDataObj() {
            return this.solicitudes.filter(option => {
                return (
                    String(option.folio)
                        .toLowerCase()
                        .indexOf(this.solicitud) >= 0
                )
            })
        },
    },
    mounted() {
        this.solicitudes.forEach((solicitud) => {

            if (solicitud.id === this.complemento_pago_archivo.id_solicitud){
                this.solicitud = String(solicitud.folio);
            }
        });

    },
    created() {
    },
    methods:{
        save(){
            const params = {
                nombre: this.complemento_pago_archivo.nombre,
                id_solicitud: this.complemento_pago_archivo.id_solicitud,
            }
            axios.post('/complemento_pago_archivos/', params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('El complemento de pago ha sido agregado correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al agregarel complemento de pago.')
                }
            });
        },
        update() {
            const params = {
                id: this.complemento_pago_archivo.id,
                id_solicitud: this.complemento_pago_archivo.id_solicitud,
                nombre: this.complemento_pago_archivo.nombre,
            }
            axios.put('/complemento_pago_archivos/'+this.complemento_pago_archivo.id, params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === 'good') {
                    this.showSuccessNotification('El complemento de pago ha sido actualizado correctamente.')
                }else {
                    this.showErrorNotification('Hubo un error al actualizar el complemento de pago.')
                }
            });
        },
    }
}
</script>

<style scoped>

</style>
