<template>
  <b-menu>
    <b-menu-list label="Menu">
      <b-menu-item :active="isActive">
        <template #label="props">
          Administrator
          <b-icon
            class="is-pulled-right"
            :icon="props.expanded ? 'menu-down' : 'menu-up'"
          ></b-icon>
        </template>

        <b-menu-item>
          <template #label>
            <a href="/solicitudes/">Requisiciones</a>
          </template>
        </b-menu-item>
<!--        <b-menu-item>-->
<!--          <template #label>-->
<!--            <a href="/afintipos/">Afin-Tipos</a>-->
<!--          </template>-->
<!--        </b-menu-item>-->
        <b-menu-item>
          <template #label>
            <a href="/anexos/">Anexos</a>
          </template>
        </b-menu-item>
<!--        <b-menu-item>-->
<!--          <template #label>-->
<!--            <a href="/bancos/">Bancos</a>-->
<!--          </template>-->
<!--        </b-menu-item>-->
        <b-menu-item>
          <template #label>
            <a href="/beneficiarios/">Beneficiarios</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/bolsas/">Bolsas</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/cuentas/">Cuentas</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/compensaciones/">Compensaciones</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/compensaciones_origen/">Compensaciones Origen</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/complemento_pagos/">Complemento-Pagos</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/complemento_pago_archivos/">Complemento-Pago-Archivos</a>
          </template>
        </b-menu-item>
<!--        <b-menu-item>-->
<!--          <template #label>-->
<!--            <a href="/dependencias/">Dependencias</a>-->
<!--          </template>-->
<!--        </b-menu-item>-->
        <b-menu-item>
          <template #label>
            <a href="/fondos/">Fondos</a>
          </template>
        </b-menu-item>
<!--        <b-menu-item>-->
<!--          <template #label>-->
<!--            <a href="/formapagos/">Forma-Pagos</a>-->
<!--          </template>-->
<!--        </b-menu-item>-->
        <b-menu-item>
          <template #label>
            <a href="/factura_archivos/">Factura-Archivos</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/facturas/">Facturas</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/incidencias/">Incidencias</a>
          </template>
        </b-menu-item>
<!--        <b-menu-item>-->
<!--          <template #label>-->
<!--            <a href="/metodos/">Metodos</a>-->
<!--          </template>-->
<!--        </b-menu-item>-->
        <b-menu-item>
          <template #label>
            <a href="/movimientos/">Movimientos</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/paquetes/">Paquetes</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/paquetes_solicitudes/">Paquetes Requisiciones</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/partidas/">Partidas</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/provedores/">Provedores</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/proyectos/">Proyectos</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/reintegros/">Reintegros</a>
          </template>
        </b-menu-item>
<!--        <b-menu-item>-->
<!--          <template #label>-->
<!--            <a href="/status/">Status</a>-->
<!--          </template>-->
<!--        </b-menu-item>-->
        <b-menu-item>
          <template #label>
            <a href="/saldo_proyectos/">Saldo-Proyectos</a>
          </template>
        </b-menu-item>
        <b-menu-item>
          <template #label>
            <a href="/saldo_partidas/">Saldo-Partidas</a>
          </template>
        </b-menu-item>
        <!--                <b-menu-item icon="cash-multiple" label="Payments" disabled></b-menu-item>-->
      </b-menu-item>
    </b-menu-list>
    <b-menu-list>
      <!--            <b-menu-item label="Expo" icon="link" tag="router-link" target="_blank" to="/expo"></b-menu-item>-->
    </b-menu-list>
    <b-menu-list label="Actions">
      <b-menu-item label="Logout"></b-menu-item>
    </b-menu-list>
  </b-menu>
</template>

<script>
export default {
  data() {
    return {
      isActive: true,
    };
  },
};
</script>
