<template>
    <div>
        <br>
        <b-navbar>
            <!--            <template #brand>-->
            <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
            <!--                    <img-->
            <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
            <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
            <!--                    >-->
            <!--                </b-navbar-item>-->
            <!--            </template>-->
            <template #start>
                <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
                    Agregar
                </b-navbar-item>
                <!--                <b-navbar-item  href="#">-->
                <!--                    Documentacion-->
                <!--                </b-navbar-item>-->

            </template>

            <template #end>
                <b-navbar-dropdown label="Buscar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <b-navbar-dropdown label="Ordenar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <!--                <b-navbar-item tag="div">-->
                <!--                    <div class="buttons">-->
                <!--                        <a class="button is-primary">-->
                <!--                            <strong>Sign up</strong>-->
                <!--                        </a>-->
                <!--                        <a class="button is-light">-->
                <!--                            Log in-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </b-navbar-item>-->
            </template>
        </b-navbar>
        <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="(afintipo, index) in afintipos" :key="afintipo.id">
        <th scope="row">{{ afintipo.id }}</th>
        <td>{{ afintipo.nombre }}</td>
        <td>
          <button
            class="btn btn-info m-1 col-xl-3 col-xs-12"
            v-on:click="onClickDetail(afintipo.id)"
          >
            Detalles
          </button>
          <button
            class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
            v-on:click="onClickEdit(afintipo.id)"
          >
            Editar
          </button>
          <button
            class="btn btn-danger m-1 col-xl-3 col-xs-12"
            v-on:click="onClickDelete(afintipo.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
</template>

<script>
export default {
  name: "afintipoTableComponent",
  props: {
    afintipos: {},
  },
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {
      gotoCreate(){
          window.location.href = "/afintipos/create";
      },
    onClickDetail(id) {
      window.location.href = "/afintipos/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/afintipos/edit/" + id;
    },
    onClickDelete(id) {
      this.$buefy.dialog.confirm({
        title: "Eliminar tipo afin",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> este tipo afin? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () =>
          axios.delete("/afintipos/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.showSuccessNotification(
                "El tipo afin fue eliminado exitosamente."
              );
            } else {
              this.showErrorNotification(
                "El tipo afin no pudo ser eliminado."
              );
            }
          }),
      });
    },
  },
};
</script>

<style scoped>
</style>
