<template>
    <form class="form-edit-add" role="form" @submit.prevent="">
        <div class="col-12">
            <div class="row justify-content-left m-0 p-0">
                <div class="col-12 text-left m-0 p-0">
                    <div>
                        <h3>Compensacion:</h3>
                        <b-autocomplete
                            v-model="compensacion"
                            placeholder="Folio de la compensacion"
                            :open-on-focus="false"
                            :data="compensacionesFilteredDataObj"
                            field="folio"
                            @select="option => (this.compensacion_origen.id_compensacion = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>
                    <div>
                        <h3>Partida:</h3>
                        <b-autocomplete
                            v-model="partida"
                            placeholder="Parida"
                            :open-on-focus="true"
                            :data="partidasFilteredDataObj"
                            field="numero"
                            @select="option => (this.compensacion_origen.id_partida = selected = option.id)"
                            :clearable="true"
                        >
                        </b-autocomplete>
                    </div>
                    <div class="row col-12">
                        <div v-if="create" class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="save()">Agregar</button>
                        </div>
                        <div v-else class="col-12 text-center">
                            <button class="btn btn-secondary form-button m-3 col-sm-12 col-lg-6 border-dark" @click="update()">Guardar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>


</template>

<script>
export default {
    props: {
        compensacion_origen:{},
        partidas:{},
        compensaciones:{},
        create: '',
    },
    data(){
        return {
            compensacion: '',
            partida: '',
        }
    },
    computed: {
        partidasFilteredDataObj() {
            return this.partidas.filter(option => {
                return (
                    String(option.numero)
                        .toLowerCase()
                        .indexOf(String(this.partida).toLowerCase()) >= 0
                )
            })
        },
        compensacionesFilteredDataObj() {
            return this.compensaciones.filter(option => {
                return (
                    String(option.folio)
                        .toLowerCase()
                        .indexOf(this.compensacion) >= 0
                )
            })
        },
    },
    mounted() {
        this.compensaciones.forEach((compensacion) => {
            if (compensacion.id === this.compensacion_origen.id_compensacion) this.compensacion = String(compensacion.folio);
        });
        this.partidas.forEach((partida) => {
            if (partida.id === this.compensacion_origen.id_partida) this.partida = partida.numero;
        });

    },
    created() {
    },
    methods:{
        save(){
            const params = {
                id_partida: this.compensacion_origen.id_partida,
                id_compensacion: this.compensacion_origen.id_compensacion,
            }
            axios.post('/compensaciones_origen/', params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === "good") {
                    this.showSuccessNotification("La compenzación ha sido agregada correctamente.");
                } else {
                    this.showErrorNotification("Hubo un error al agregar la compenzación.");
                }
            });
        },
        update() {
            const params = {
                id: this.compensacion_origen.id,
                id_compensacion: this.compensacion_origen.id_compensacion,
                id_partida: this.compensacion_origen.id_partida,
            }
            axios.put('/compensaciones_origen/'+this.compensacion_origen.id, params).
            then((response) => {
                let information = '';
                information = response.data.information;
                if (information === "good") {
                        this.showSuccessNotification("La compenzación ha sido actualizada correctamente.");
                    } else {
                        this.showErrorNotification("Hubo un error al actualizar la compenzación.");
                    }
            });
        },
    }
}
</script>

<style scoped>

</style>
