<template>
    <div>
        <br>
        <b-navbar>
            <!--            <template #brand>-->
            <!--                <b-navbar-item tag="router-link" :to="{ path: '/' }">-->
            <!--                    <img-->
            <!--                        src="https://raw.githubusercontent.com/buefy/buefy/dev/static/img/buefy-logo.png"-->
            <!--                        alt="Lightweight UI components for Vue.js based on Bulma"-->
            <!--                    >-->
            <!--                </b-navbar-item>-->
            <!--            </template>-->
            <template #start>
                <b-navbar-item class="button is-success" href="#" @click="gotoCreate()">
                    Agregar
                </b-navbar-item>
                <!--                <b-navbar-item  href="#">-->
                <!--                    Documentacion-->
                <!--                </b-navbar-item>-->

            </template>

            <template #end>
                <b-navbar-dropdown label="Buscar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <b-navbar-dropdown label="Ordenar">
                    <b-navbar-item href="#">
                        Nombre
                    </b-navbar-item>
                    <b-navbar-item href="#">
                        Folio
                    </b-navbar-item>
                </b-navbar-dropdown>
                <!--                <b-navbar-item tag="div">-->
                <!--                    <div class="buttons">-->
                <!--                        <a class="button is-primary">-->
                <!--                            <strong>Sign up</strong>-->
                <!--                        </a>-->
                <!--                        <a class="button is-light">-->
                <!--                            Log in-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </b-navbar-item>-->
            </template>
        </b-navbar>
        <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Compensacion</th>
        <th scope="col">Partida</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="(compensacion_origen, index) in compensaciones_origen"
        :key="compensacion_origen.id"
      >
        <th scope="row">{{ compensacion_origen.id }}</th>
        <td>{{ compensacion_origen.compensaciones.folio }}</td>
        <td>{{ compensacion_origen.partida.numero }}</td>
        <td>
          <button
            class="btn btn-info m-1 col-xl-3 col-xs-12"
            v-on:click="onClickDetail(compensacion_origen.id)"
          >
            Detalles
          </button>
          <button
            class="btn btn-secondary m-1 col-xl-3 col-xs-12 border-dark"
            v-on:click="onClickEdit(compensacion_origen.id)"
          >
            Editar
          </button>
          <button
            class="btn btn-danger m-1 col-xl-3 col-xs-12"
            v-on:click="onClickDelete(compensacion_origen.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
    </div>
</template>

<script>
export default {
  name: "CompensacionOrigenTableComponent",
  props: {
    compensaciones_origen: {},
  },
  data() {
    return {};
  },
  created() {},
  mounted() {},
  methods: {
      gotoCreate(){
          window.location.href = "/compensaciones_origen/create";
      },
    onClickDetail(id) {
      window.location.href = "/compensaciones_origen/" + id;
    },
    onClickEdit(id) {
      window.location.href = "/compensaciones_origen/edit/" + id;
    },
    onClickDelete(id) {
      this.$buefy.dialog.confirm({
        title: "Eliminar compensación",
        message:
          "¿Estas seguro que deseas <b>eliminar</b> esta compensación? Esta acción no puede deshacerse.",
        confirmText: "Eliminar",
        type: "is-danger",
        hasIcon: true,
        onConfirm: () =>
          axios.delete("/compensaciones_origen/" + id).then((res) => {
            if (res.data["information"] === "good") {
              // this.$emit('delete');
              this.showSuccessNotification(
                "La compensacion ha sido eliminada exitosamente."
              );
            } else {
              this.showErrorNotification(
                "La compensacion no pudo ser eliminada."
              );
            }
          }),
      });
    },
  },
};
</script>

<style scoped>
</style>
