<template>
  <table width="100%">
    <tr>
      <th>
        <div class="mr-4 mt-2">
          <b-field label="Nombre:">
            <b-input
              v-model="anexo.nombre"
              placeholder="Nombre del Anexo"
            ></b-input>
          </b-field>
        </div>
      </th>
    </tr>
    <tr>
      <th>
        <div class="mr-4 mt-2">
          <b-field label="Solicitud:">
            <b-autocomplete
              v-model="solicitud"
              placeholder="Folio de la solicitud"
              :open-on-focus="true"
              :data="solicitudesFilteredDataObj"
              field="folio"
              @select="
                (option) => (this.anexo.id_solicitud = selected = option.id)
              "
              :clearable="true"
            >
            </b-autocomplete>
          </b-field>
        </div>
      </th>
    </tr>

    <tr>
      <th colspan="3">
        <div v-if="create" class="col-12 text-center mr-4">
          <button
            class="
              btn btn-secondary
              form-button
              m-3
              col-sm-12 col-lg-6
              border-dark
            "
            @click="save()"
          >
            Agregar
          </button>
        </div>
        <div v-else class="col-12 text-center">
          <button
            class="
              btn btn-secondary
              form-button
              m-3
              col-sm-12 col-lg-6
              border-dark
            "
            @click="update()"
          >
            Guardar
          </button>
        </div>
      </th>
    </tr>
  </table>
</template>

<script>
export default {
  props: {
    anexo: {},
    solicitudes: {},
    create: "",
  },
  data() {
    return {
      solicitud: "",
    };
  },
  computed: {
    solicitudesFilteredDataObj() {
      return this.solicitudes.filter((option) => {
        return String(option.folio).toLowerCase().indexOf(this.solicitud) >= 0;
      });
    },
  },
  mounted() {
    this.solicitudes.forEach((solicitud) => {
      if (solicitud.id === this.anexo.id_solicitud) {
        this.solicitud = String(solicitud.folio);
      }
    });
  },
  created() {},
  methods: {
    save() {
      const params = {
        nombre: this.anexo.nombre,
        id_solicitud: this.anexo.id_solicitud,
      };
      axios.post("/anexos/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "El anexo ha sido agregado correctamente."
          );
        } else {
          this.showErrorNotification("Hubo un error al agregar el anexo.");
        }
      });
    },
    update() {
      const params = {
        nombre: this.anexo.nombre,
        id_solicitud: this.anexo.id_solicitud,
        id: this.anexo.id,
      };
      axios.put("/anexos/" + this.anexo.id, params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "El anexo ha sido actualizado correctamente."
          );
        } else {
          this.showErrorNotification("Hubo un error al actualizar el anexo.");
        }
      });
    },
  },
};
</script>

<style scoped>
</style>
