<template>
  <table width="100%">
      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Fecha:">
              <b-datepicker
                v-model="fecha"
                locale="es-MX"
                :first-day-of-week="1"
                placeholder="Seleccionar fecha..."
                icon="calendar-today"
                trap-focus
              >
              </b-datepicker>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Folio:">
              <b-input
                expanded
                input-color="red"
                controls-position="compact"
                :controls="true"
                v-model="solicitud.folio"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Concepto:">
              <b-input
                v-model="solicitud.concepto"
                placeholder="Concepto"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Usuario solicitante:">
              <b-autocomplete
                v-model="name"
                placeholder="Ej. Juan"
                :keep-first="false"
                :open-on-focus="true"
                :data="usersFilteredDataObj"
                field="name"
                type="text"
                @select="
                  (option) =>
                    (this.solicitud.id_usuario_solicitante = selected =
                      option.id)
                "
                :clearable="true"
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Status:">
              <b-select
                placeholder="Selecciona el status"
                expanded
                v-model="solicitud.id_status"
              >
                <option v-for="sta in status" :value="sta.id" :key="sta.id">
                  {{ sta.concepto }}
                </option>
              </b-select>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Fecha de pago:">
              <b-datepicker
                v-model="fecha_pago"
                locale="es-MX"
                :first-day-of-week="1"
                placeholder="Seleccionar fecha..."
                icon="calendar-today"
                trap-focus
              >
              </b-datepicker>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Proyecto:">
              <b-autocomplete
                placeholder="Nombre del proyecto"
                :keep-first="false"
                :open-on-focus="true"
                type="text"
                v-model="proyecto"
                :data="proyectosFilteredDataObj"
                field="nombre"
                @select="
                  (option) =>
                    (this.solicitud.id_proyecto = selected = option.id)
                "
                :clearable="true"
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Fondo:">
              <b-autocomplete
                v-model="fondo"
                placeholder="Nombre del fondo"
                :open-on-focus="true"
                :data="fondosFilteredDataObj"
                field="nombre"
                @select="
                  (option) => (this.solicitud.id_fondo = selected = option.id)
                "
                :clearable="true"
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Beneficiario:">
              <b-autocomplete
                v-model="beneficiario"
                placeholder="Nombre del beneficiario"
                :open-on-focus="true"
                :data="beneficiariosFilteredDataObj"
                field="nombre"
                @select="
                  (option) =>
                    (this.solicitud.id_beneficiario = selected = option.id)
                "
                :clearable="true"
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Tipo:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.tipo"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Tipo Afin:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.tipo_afin"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Monto:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.monto"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Reintegro:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.reintegro"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Orden de compra:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.orden_compra"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Solicitud afin:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.solicitud_afin"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Aprobación afin:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.aprobacion_afin"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Orden de compra afin:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.orden_compra_afin"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Recepción afin:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.recepcion_afin"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Factura afin:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.factura_afin"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Movimiento:">
              <b-input
                v-model="solicitud.movimiento"
                placeholder="Movimiento"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Paquete finanzas:">
              <b-input
                expanded
                controls-position="compact"
                type="is-info"
                :controls="true"
                v-model="solicitud.paquete_finanzas"
              ></b-input>
            </b-field>
          </div>
        </th>

        <th>
          <div class="mr-4 mt-2">
            <b-field label="Fecha de recibido Finanzas:">
              <b-datepicker
                v-model="recibido_finanzas"
                locale="es-MX"
                :first-day-of-week="1"
                placeholder="Seleccionar fecha..."
                icon="calendar-today"
                trap-focus
              >
              </b-datepicker>
            </b-field>
          </div>
        </th>
        <th>
          <div class="mr-4 mt-2">
            <b-field label="Incidencia:">
              <b-autocomplete
                v-model="incidencia"
                placeholder="Nombre de la incidencia"
                :open-on-focus="true"
                :data="incidenciasFilteredDataObj"
                field="nombre"
                @select="
                  (option) =>
                    (this.solicitud.id_incidencia = selected = option.id)
                "
                :clearable="true"
              >
              </b-autocomplete>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th colspan="3">
          <div class="mr-4 mt-2">
            <b-field label="Observaciones">
              <b-input
                maxlength="200"
                type="textarea"
                v-model="solicitud.observaciones"
              ></b-input>
            </b-field>
          </div>
        </th>
      </tr>

      <tr>
        <th colspan="3">
          <div v-if="create" class="col-12 text-center mr-4">
            <button
              class="
                btn btn-secondary
                form-button
                m-3
                col-sm-12 col-lg-6
                border-dark
              "
              @click="save()"
            >
              Agregar
            </button>
          </div>
          <div v-else class="col-12 text-center">
            <button
              class="
                btn btn-secondary
                form-button
                m-3
                col-sm-12 col-lg-6
                border-dark
              "
              @click="update()"
            >
              Guardar
            </button>
          </div>
        </th>
      </tr>
    </table>
</template>

<script>
export default {
  props: {
    solicitud: {},
    users: {},
    status: {},
    proyectos: {},
    fondos: {},
    beneficiarios: {},
    incidencias: {},
    create: "",
  },
  data() {
    return {
      name: "",
      proyecto: "",
      fondo: "",
      beneficiario: "",
      incidencia: "",
      fecha: null,
      fecha_pago: null,
      recibido_finanzas: null,
      selected: null,
    };
  },
  computed: {
    usersFilteredDataObj() {
      return this.users.filter((option) => {
        return option.name.toLowerCase().indexOf(this.name.toLowerCase()) >= 0;
      });
    },
    proyectosFilteredDataObj() {
      return this.proyectos.filter((option) => {
        return (
          option.nombre.toLowerCase().indexOf(this.proyecto.toLowerCase()) >= 0
        );
      });
    },
    fondosFilteredDataObj() {
      return this.fondos.filter((option) => {
        return (
          option.nombre.toLowerCase().indexOf(this.fondo.toLowerCase()) >= 0
        );
      });
    },
    beneficiariosFilteredDataObj() {
      return this.beneficiarios.filter((option) => {
        return (
          option.nombre
            .toLowerCase()
            .indexOf(this.beneficiario.toLowerCase()) >= 0
        );
      });
    },
    incidenciasFilteredDataObj() {
      return this.incidencias.filter((option) => {
        return (
          option.nombre.toLowerCase().indexOf(this.incidencia.toLowerCase()) >=
          0
        );
      });
    },
  },
  mounted() {
    if (this.solicitud.fecha != null) {
      this.fecha = new Date(this.solicitud.fecha);
    }

    if (this.solicitud.fecha_pago != null) {
      this.fecha_pago = new Date(this.solicitud.fecha_pago);
    }

    if (this.solicitud.recibido_finanzas != null) {
      this.recibido_finanzas = new Date(this.solicitud.recibido_finanzas);
    }

    this.users.forEach((user) => {
      if (user.id === this.solicitud.id_usuario_solicitante)
        this.name = user.name;
    });
    this.proyectos.forEach((proyecto) => {
      if (proyecto.id === this.solicitud.id_proyecto)
        this.proyecto = proyecto.nombre;
    });
    this.fondos.forEach((fondo) => {
      if (fondo.id === this.solicitud.id_fondo) this.fondo = fondo.nombre;
    });
    this.beneficiarios.forEach((beneficiario) => {
      if (beneficiario.id === this.solicitud.id_beneficiario)
        this.beneficiario = beneficiario.nombre;
    });
    this.incidencias.forEach((incidencia) => {
      if (incidencia.id === this.solicitud.id_incidencia)
        this.incidencia = incidencia.nombre;
    });
  },
  created() {},
  methods: {
    save() {
      const params = {
        id_status: this.solicitud.id_status,
        id_proyecto: this.solicitud.id_proyecto,
        id_beneficiario: this.solicitud.id_beneficiario,
        id_fondo: this.solicitud.id_fondo,
        id_incidencia: this.solicitud.id_incidencia,
        id_usuario_solicitante: this.solicitud.id_usuario_solicitante,
        fecha: this.fecha,
        fecha_pago: this.fecha_pago,
        folio: this.solicitud.folio,
        concepto: this.solicitud.concepto,
        tipo: this.solicitud.tipo,
        tipo_afin: this.solicitud.tipo_afin,
        monto: this.solicitud.monto,
        reintegro: this.solicitud.reintegro,
        solicitud_afin: this.solicitud.solicitud_afin,
        aprobacion_afin: this.solicitud.aprobacion_afin,
        orden_compra: this.solicitud.orden_compra,
        orden_compra_afin: this.solicitud.orden_compra_afin,
        recepcion_afin: this.solicitud.recepcion_afin,
        factura_afin: this.solicitud.factura_afin,
        movimiento: this.solicitud.movimiento,
        paquete_finanzas: this.solicitud.paquete_finanzas,
        recibido_finanzas: this.recibido_finanzas,
        observaciones: this.solicitud.observaciones,
      };
      axios.post("/solicitudes/", params).then((response) => {
        let information = "";
        information = response.data.information;
        if (information === "good") {
          this.showSuccessNotification(
            "La solicitud ha sido agregada correctamente."
          );
        } else {
          this.showErrorNotification("Hubo un error al agregar la solicitud.");
        }
      });
    },
    update() {
      const params = {
        id_status: this.solicitud.id_status,
        id_proyecto: this.solicitud.id_proyecto,
        id_beneficiario: this.solicitud.id_beneficiario,
        id_fondo: this.solicitud.id_fondo,
        id_incidencia: this.solicitud.id_incidencia,
        id_usuario_solicitante: this.solicitud.id_usuario_solicitante,
        fecha: this.fecha,
        fecha_pago: this.fecha_pago,
        folio: this.solicitud.folio,
        concepto: this.solicitud.concepto,
        tipo: this.solicitud.tipo,
        tipo_afin: this.solicitud.tipo_afin,
        monto: this.solicitud.monto,
        reintegro: this.solicitud.reintegro,
        solicitud_afin: this.solicitud.solicitud_afin,
        aprobacion_afin: this.solicitud.aprobacion_afin,
        orden_compra: this.solicitud.orden_compra,
        orden_compra_afin: this.solicitud.orden_compra_afin,
        recepcion_afin: this.solicitud.recepcion_afin,
        factura_afin: this.solicitud.factura_afin,
        movimiento: this.solicitud.movimiento,
        paquete_finanzas: this.solicitud.paquete_finanzas,
        recibido_finanzas: this.recibido_finanzas,
        observaciones: this.solicitud.observaciones,
        id: this.solicitud.id,
      };
      axios
        .put("/solicitudes/" + this.solicitud.id, params)
        .then((response) => {
          let information = "";
          information = response.data.information;
          if (information === "good") {
            this.showSuccessNotification(
              "La solicitud ha sido actualizada correctamente."
            );
          } else {
            this.showErrorNotification(
              "Hubo un error al actualizar la solicitud."
            );
          }
        });
    },
  },
};
</script>

<style scoped>
</style>
